h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* body {
    color: #000000;
    background-color: #E5E5E5;
    font-family: ;
} */

svg {
    fill: currentColor;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}