.footer-box {
  background-color: #fff5f6;
  padding-top: 40px;
}

.footer-box__block-one {
  max-width: 232px;
}

.footer-box__logo-first {
  @include fonts(
    'Titan One',
    var(--titles-font-weight),
    18px,
    1.17,
    null,
    var(--title-before-text-color)
  );
  text-transform: uppercase;
}

.footer-box__logo-second {
  @include fonts(
    null,
    var(--titles-font-weight),
    34px,
    1.15,
    0.04em,
    var(--title-text-color)
  );
  text-transform: uppercase;
  margin-top: 16px;
}

// .footer-box__block-two {
// }

.footer-box__social-list {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.footer-box__social-item:not(:first-child) {
  margin-left: 28px;
}

// .footer-box__social-link {
// }

.footer-box__social-icon {
  fill: #fea5bb;
  &:hover,
  &:focus {
    fill: var(--action-menu-text-color);
  }
}

.footer-box__phone-text {
  @include fonts(
    var(--simple-text-font-family),
    var(--simple-text-font-weight-big),
    12px,
    1.83,
    null,
    #000000
  );
  text-align: right;
  margin-bottom: 40px;
}

.footer-box__phone-number {
  @include fonts(
    var(--simple-text-font-family),
    var(--simple-text-font-weight-big),
    12px,
    1.83,
    null,
    var(--accent-text-color)
  );
}

.footer-box__copyright-box {
  height: 60px;
  border-top: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box__copyright {
  @include fonts(
    var(--simple-text-font-family),
    var(--simple-text-font-weight-big),
    14px,
    1.5,
    null,
    #907e82
  );
  max-width: 150px;
}
