@mixin retina3 {
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    @content;
  }
}

.advantages__section {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.advantages {
  background-color: #fff5f6;
  padding-top: 40px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 64px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  gap: 32px;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    gap: 100px;
  }
}

.advantages__item {
  max-width: 230px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 40px) / 3);
    max-width: 180px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 200px) / 3);
    max-width: 300px;
  }
}

.advantages__title {
  margin-bottom: 4px;

  font-family: 'Titan One';
  font-size: 58px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  color: #d41443;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.advantages__text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.74;
  color: #000000;
}

.advantages__item::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__item:nth-child(1)::before {
  background-image: url(../images/advantages-img/cow.png);
  background-size: 50px;

  @include retina {
    background-image: url(../images/advantages-img/cow@2x.png);
  }

  @include retina3 {
    background-image: url(../images/advantages-img/cow@3x.png);
  }
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/advantages-img/apples.png);
  background-size: 50px;

  @include retina {
    background-image: url(../images/advantages-img/apples@2x.png);
  }

  @include retina3 {
    background-image: url(../images/advantages-img/apples@3x.png);
  }
}

.advantages__item:nth-child(3)::before {
  background-image: url(../images/advantages-img/heart.png);
  background-size: 50px;

  @include retina {
    background-image: url(../images/advantages-img/heart@2x.png);
  }

  @include retina3 {
    background-image: url(../images/advantages-img/heart@3x.png);
  }
}
