.site-gallery__section {
  min-height: 196px;
  padding-bottom: 0;
  background-image: linear-gradient(
    to bottom,
    #fff5f6 87px,
    var(--main-background-color) 87px
  );

  @media screen and (min-width: 768px) {
    min-height: 391px;
    background-image: linear-gradient(
      to bottom,
      #fff5f6 251px,
      var(--main-background-color) 251px
    );
  }

  @media screen and (min-width: 1200px) {
    min-height: 549px;
    background-image: linear-gradient(
      to bottom,
      #fff5f6 209px,
      var(--main-background-color) 209px
    );
  }
}

.site-gallery__container {
  padding: 0;

  @media screen and (min-width: 1200px) {
    padding: 0 93px;
  }
}

.gallery {
  display: grid;
  grid-gap: 2px;
  grid: repeat(12, 8.5px) / repeat(28, 8.5px);
  justify-content: center;

  @media screen and (min-width: 768px) {
    grid-gap: 4px;
    grid: repeat(12, 18px) / repeat(28, 18px);
  }

  @media screen and (min-width: 1200px) {
    grid-gap: 6px;
    grid: repeat(12, 30px) / repeat(28, 30px);
  }
}

.gallery__item:nth-child(1) {
  grid-area: 5/1 / span 4 / span 4;
}

.gallery__item:nth-child(2) {
  grid-area: 4/5 / span 4 / span 4;
}

.gallery__item:nth-child(3) {
  grid-area: 8/5 / span 4 / span 4;
}

.gallery__item:nth-child(4) {
  border-radius: 5%;
  grid-area: 1/9 / span 8 / span 8;
}

.gallery__item:nth-child(5) {
  grid-area: 9/9 / span 4 / span 4;
}

.gallery__item:nth-child(6) {
  grid-area: 4/17 / span 4 / span 4;
}

.gallery__item:nth-child(7) {
  grid-area: 8/17 / span 4 / span 4;
}

.gallery__item:nth-child(8) {
  grid-area: 3/21 / span 4 / span 4;
}

.gallery__item:nth-child(9) {
  grid-area: 7/21 / span 4 / span 4;
}

.gallery__item:nth-child(10) {
  grid-area: 5/25 / span 4 / span 4;
}

.gallery__img {
  width: 100%;
  height: auto;
  display: block;
}
