a {
  text-decoration: none;
}

.section {
  padding: 0;
}

.hero-section {
  background-color: #ffb8ca;
}

.hero {
  position: relative;
  padding: 0;
  height: 444px;
  @media screen and (min-width: 772px) {
    height: 334px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    height: 566px;
  }
}

.hero__span {
  color: #ffffff;
  font-size: 26px;
  line-height: 1.15;
  display: block;
  z-index: 2;
  @media screen and (min-width: 772px) {
    font-size: 22px;
    line-height: 1.13;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.15;
  }
}

.hero__title {
  color: #d41443;
  width: 218px;
  padding-top: 136px;
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 48px;
  line-height: 0.95;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 772px) {
    width: 162px;
    margin-left: 32px;
    font-size: 34px;
    line-height: 0.91;
    padding-top: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 277px;
    font-size: 58px;
    line-height: 0.89;
    padding-top: 60px;
    margin-left: 56px;
  }
}

.hero__list {
  display: flex;
  margin-bottom: 158px;
  @media screen and (min-width: 772px) {
    margin-left: 32px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
    margin-left: 56px;
    width: 255px;
  }
}

.hero__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  border-radius: 20px;
  border-style: none;
  min-width: 62.4px;
  background-color: #d41443;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #d41443;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    height: 40px;
    min-width: 107px;
  }
}

.hero-btn-second {
  min-width: 82.8px;
  @media screen and (min-width: 1200px) {
    min-width: 138px;
  }
}

.hero__text {
  display: none;
  @media screen and (min-width: 772px) {
    display: block;
    width: 114px;
    margin-top: 61px;
    margin-left: 184px;
    color: #ffffff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 229px;
    margin-top: 108px;
    font-size: 14px;
    line-height: 1.42;
    width: 200px;
  }
}

.hero-text-btn {
  display: none;
  @media screen and (min-width: 772px) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: none;
    background-color: #ffffff;
    margin-left: 184px;
    margin-top: 7px;
    width: 18px;
    height: 18px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 229px;
    margin-top: 20px;
    width: 26px;
    height: 26px;
  }
}

.hero-text-svg {
  @media screen and (min-width: 772px) {
    fill: #d41443;
  }
}

.heroo {
  display: none;
  @media screen and (min-width: 772px) {
    display: flex;
    margin-top: -260px;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    margin-top: -415px;
  }
}

.heroo-list {
  display: none;
  @media screen and (min-width: 772px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 32px;
    margin-bottom: 16px;
  }
}

.heroo-number {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #d41443;
  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.15;
  }
}

.heroo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
  }
}
