/* Слайдер */

/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider .slick-dots li {
  margin: 0 18px;
}
/* Элемент точки */
.slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border-color: transparent;
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: #d31342;
}

.slider .slick-dots li.slick-active:first-child button {
  position: absolute;
  left: -66px;
}

.slider .slick-dots > li:first-child {
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-color: transparent;
  background-image: url(../images/customer-reviews/reviews-home-icon.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.section__container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 767px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    with: 100%;
  }
}

.slider {
}

.slider__item {
  width: 280px;
  height: auto;
  @media screen and (min-width: 768px) {
    width: 620px;
    height: auto;
    margin: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 822px;
    height: auto;
    margin: auto;
  }
}

.slider__image {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.slider__note {
  background: repeating-linear-gradient(#fff 0 28px, #e1e1e1 28px 30px);
  position: relative;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    margin-bottom: 4px;
    width: 620px;
  }
  @media screen and (min-width: 1200px) {
    width: 822px;
  }
}

.slider__mark {
  color: #e1e1e1;
  width: 54px;
  height: 40px;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0px;
  @media screen and (min-width: 768px) {
    top: -22px;
    left: 23px;
    width: 40px;
    height: 60px;
  }
  @media screen and (min-width: 1200px) {
    top: -13px;
    left: 45px;
    width: 54px;
    height: 40px;
  }
}

.slider__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 0px 15px;
  //   padding-top: 41px;
  //   padding-bottom: 28px;
  //   padding-left: 65px;
  //   padding-right: 58px;

  position: relative;

  color: #000000;

  position: relative;
  z-index: 2;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    max-width: 620px;
    margin: 0 auto;
    margin-bottom: 36px;
    padding: 0 53px;
    // padding-top: 37px;
    // padding-bottom: 44px;
    // padding-left: 55px;
    // padding-right: 51px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 2.16;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    max-width: 968px;
    margin: 0 auto;
    margin-bottom: 47px;
    padding: 0px 73px;
    // padding-top: 47px;
    // padding-bottom: 39px;
    // padding-left: 109px;
    // padding-right: 109px;
  }
}

.slider__dots {
  width: 32px;
  display: flex;
  margin: auto;
  margin-bottom: 16px;
}

.slider__photo {
  display: flex;
  margin: auto;
  margin-bottom: 34px;
  width: 85px;
  height: 85px;
}

.slider__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.slider__home {
  width: 72px;
  height: 12px;
  margin: 0 auto;
}
