.about {
    background-color: #FFF5F6;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 1200px) {
        background-image: url(../images/about/about-milk-background-desktop-min.png);
        background-size: 1200px;
        background-position: 50% 100%;
        background-repeat: no-repeat;

        @include retina {
            border-image: url(../images/about/about-milk-background-desktop@2x-min.png);
            background-size: 1200px;
            background-position: 50% 100%;
            background-repeat: no-repeat;
        }
    }
}

.about-box {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: space-between;
    }
}

.about-text {
    @media screen and (max-width: 767px) {
        background-image: url(../images/about/about-milk-background-mobile-min.png);
        background-size: 280px;
        background-position: 0 72px;
        background-repeat: no-repeat;

        @include retina {
            background-image: url(../images/about/about-milk-background-mobile@2x-min.png);
            background-size: 280px;
            background-position: 0 72px;
            background-repeat: no-repeat;
        }
    }
}

.about-pre__title {
    padding-top: 60px;
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    @include fonts ("Titan One", 400, 18px, 1.16, 00.04em, #FFA5BA);

    @media screen and (min-width: 768px) {
        @include fonts ("Titan One", 400, 26px, 1.15, 00.04em, #FFA5BA);
    }

    @media screen and (min-width: 768px) {
        @include fonts ("Titan One", 400, 30px, 1.13, 00.04em, #FFA5BA);
    }
}

.about__title {
    margin-bottom: 32px;
    text-align: center;
    text-transform: uppercase;
    @include fonts ("Titan One", 400, 34px, 1.15, 00.04em, var(--title-text-color));

    @media screen and (min-width: 768px) {
        @include fonts ("Titan One", 400, 48px, 1.15, 00.04em, var(--title-text-color));
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        @include fonts ("Titan One", 400, 58px, 1.14, 00.06em, var(--title-text-color));
        margin-bottom: 60px;
    }
}

.about-text__desk {
    @media screen and (max-width: 767px) {
        @include fonts ("DM Sans", 500, 12px, 1.6, 00.04em, #000000);
        max-width: 220px;
        margin-bottom: 22px;
    }

    @media screen and (min-width: 768px) {
        @include fonts ("DM Sans", 500, 14px, 1.77, 00.04em, #000000);
        max-width: 334px;
        margin-bottom: 22px;
    }

    @media screen and (min-width: 1200px) {
        @include fonts ("DM Sans", 500, 16px, 1.76, 00.04em, #000000);
        max-width: 463px;
        margin-bottom: 32px;
    }
}

.about-text__lead {
    @media screen and (max-width: 767px) {
        @include fonts ("DM Sans", 500, 12px, 1.6, 00.04em, #907E82);
        max-width: 220px;
        margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        @include fonts ("DM Sans", 500, 14px, 1.77, 00.04em, #907E82);
        max-width: 334px;
        margin-bottom: 15px;
    }

    @media screen and (min-width: 1200px) {
        @include fonts ("DM Sans", 500, 14px, 1.94, 00.04em, #907E82);
        max-width: 463px;
        margin-bottom: 20px;
    }
}

.about-text__tagline {
    @media screen and (max-width: 767px) {
        @include fonts ("DM Sans", 500, 12px, 1.6, 00.04em, #907E82);
        max-width: 200px;
    }

    @media screen and (min-width: 768px) {
        @include fonts ("DM Sans", 500, 14px, 1.77, 00.04em, #907E82);
        max-width: 334px;
    }

    @media screen and (min-width: 1200px) {
        @include fonts ("DM Sans", 500, 14px, 1.94, 00.04em, #907E82);
        max-width: 463px;
    }
}

.about-btn {
    @include fonts ("DM Sans", 700, 16px, 1.31, 00.004, var(--title-text-color));
    display: flex;
    text-align: center;
    align-items: center;
    border-color: transparent;
    padding-left: 37px;
    margin-top: 40px;
    width: 176px;
    height: 44px;
    background-color: var(--main-background-color);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);

    &:hover,
    &:focus {
        background-color: #ECEBEB;
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}

.about-btn::after {
    content: "";
    margin-left: 13.62px;
    width: 8px;
    height: 10px;
    background-image: url(../images/about/read-more-icon.svg);
}

.about .about__cow-milk:hover {
    transform: scale(1.25);
    transition: transform 250ms cubic-bezier(.4, 0, .2, 1);
}

.about__cow-milk {
    transition: transform 250ms cubic-bezier(.4, 0, .2, 1);
}