a {
  text-decoration: none;
}

.hero {
  background-color: #ffb8ca;
  height: 502px;
}

.hero__title {
  color: #d41443;
  width: 218px;
  margin-top: 136px;
  margin-bottom: 20px;
  //   @include fonts('Titan One', 400, 26px, 1.15, 0.04em);
}

.hero__list {
  display: flex;
}

.hero__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.hero__span {
  color: #ffffff;
}

.hero__btn {
  height: 24px;
  border-radius: 20px;
  border-style: none;
  width: 61.2px;
  background-color: FFFFFF;
}
