:root {
    --main-background-color: #E5E5E5;
    
    --title-text-color: #D41443;
    --title-before-text-color: #FFA5BA;

    --accent-text-color: #D41443;
    
    --action-menu-text-color: #D41443;
    --menu-text-color: #FFFFFF;
}
