:root {
    --main-background-color: #ffffff;
    
    --title-text-color: #D41443;
    --title-before-text-color: #FFA5BA;

    --accent-text-color: #D41443;

    --action-menu-text-color: #D41443;
    --menu-text-color: #FFFFFF;

    --font-stile: 'normal';

    --titles-font-family: 'Titan One'
    --titles-font-weight: 400;

    --simple-text-font-family: 'DM Sans';
    --simple-text-font-weight-big: 700;
    --simple-text-font-weight-medium: 500;
    --simple-text-font-weight-small: 400;
}
 $mobile-break-point: 320px;
 $tablet-break-point: 768px;
 $desktop-break-point: 1200px;