@import './common';
@import './example';

@import './global';

@import './mixins';

/* Харикеша Марченко */
@import './site-header';

/* Yuliia */
@import './site-hero';

/* Adrian */
@import './site-products';

/* Костянтин Кечурявий */
@import './site-about';

/* Anastasiia Steblyna */
@import './site-advantages';

/* Сергій Чугуй */
@import './site-gallery';

/* Олег Саварин */
@import './site-customer-reviews';

/* Татьяна Кокшарова */
@import './site-contacts';

/* Alena Neori */
@import './site-footer';

