<header class="header">
  <div class="container">
    <a class="logo" id="logo" href="">Icecream</a>
    <button class="menu-open-btn" type="button">X</button>
    <div class="mob-nav is-hidden">
      <button class="close-open-btn" type="button">X</button>
      <div class="mob-nav__container">
        <button class="modal-btn modal-btn--width" type="button">
          Buy now
        </button>
        <ul class="mob-nav_list">
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#logo">Home</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#">About us</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#">How it’s made?</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#">Our products</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link main-nav__link--current" href="">Home</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="">About us</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="">How it’s made?</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="">Our products</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="modal-btn modal-btn--desktop" type="button">Buy now</button>
  </div>
</header>
