<section class="section section-reviews">
  <h2 class="visually-hidden">Our reviews</h2>
  <div class="container section__container">
    <div class="slider">
      <div class="slider__item">
        <picture>
          <source
            srcset="
              ././images/customer-reviews/reviews-customer1-min.png    1x,
              ././images/customer-reviews/reviews-customer1@2x-min.png 2x
            "
            media="(min-width: 320px)"
            class="slider__image"
          />
        </picture>
        <div class="slider__note">
          <img
            class="slider__mark"
            src="./images/customer-reviews/“.svg"
            alt=""
          />
          <div class="slider__text"></div>
          <p class="slider__description">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <img
          class="slider__dots"
          src="./images/customer-reviews/reviews-three-dots-icon.svg"
          alt=""
        />
        <p class="slider__name">Emily, Los Angeles</p>
        <img
          class="slider__home"
          src="./images/customer-reviews/hr-dots.svg"
          alt=""
        />
      </div>
      <!-- <div class="slider__item">
        <picture>
          <source
            srcset="
              ././images/customer-reviews/reviews-customer2-min.png    1x,
              ././images/customer-reviews/reviews-customer2@2x-min.png 2x
            "
            media="(min-width: 320px)"
            class="slider__image"
          />
        </picture>
        <div class="slider__note">
          <img
            class="slider__mark"
            src="./images/customer-reviews/“.svg"
            alt=""
          />
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <img
          class="slider__dots"
          src="./images/customer-reviews/reviews-three-dots-icon.svg"
          alt=""
        />
        <p class="slider__name">Sophia, Huaston</p>
      </div>
      <div class="slider__item">
       <picture>
          <source
            srcset="
              ././images/customer-reviews/reviews-customer3-min.png    1x,
              ././images/customer-reviews/reviews-customer3@2x-min.png 2x
            "
            media="(min-width: 320px)"
            class="slider__image"
          />
        </picture>
        <div class="slider__note">
          <img
            class="slider__mark"
            src="./images/customer-reviews/“.svg"
            alt=""
          />
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <img
          class="slider__dots"
          src="./images/customer-reviews/reviews-three-dots-icon.svg"
          alt=""
        />
        <p class="slider__name">Emma, Boston</p>
      </div> -->
    </div>
  </div>
</section>
