<section id="contacts" class="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__category beige">Cafe</p>
        <address class="contacts__address">
          <p class="contacts__address-city">Chicago</p>
          <p class="contacts__address-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </address>

        <ul class="contacts__work-time">
          <li class="contacts__first-shift">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__second-shift">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__contact">
          <li class="contacts__contact-item">
            <a class="contacts__contact-link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__contact-item">
            <a class="contacts__contact-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__category green">Foodtruck</p>
        <address class="contacts__address">
          <p class="contacts__address-city">Los Angeles</p>
          <p class="contacts__address-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </address>

        <ul class="contacts__work-time">
          <li class="contacts__first-shift">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__second-shift">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__contact">
          <li class="contacts__contact-item">
            <a class="contacts__contact-link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__contact-item">
            <a class="contacts__contact-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__category beige">Cafe</p>
        <address class="contacts__address">
          <p class="contacts__address-city">New York</p>
          <p class="contacts__address-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </address>

        <ul class="contacts__work-time">
          <li class="contacts__first-shift">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__second-shift">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__contact">
          <li class="contacts__contact-item">
            <a class="contacts__contact-link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__contact-item">
            <a class="contacts__contact-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__buttons">
      <li>
        <button
          class="contacts__btn-first js-open-modal"
          type="button"
          data-modal="Our Locations"
          aria-label="open-modal-contacts"
        >
          Our Locations
          <svg class="contacts__but-icon" width="6" height="10">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="contacts__btn-sec js-open-modal-f" type="button" aria-label="open-modal-contacts">
          Franchise
          <svg class="contacts__but-icon" width="6" height="10">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>

    <div class="contacts-backdrop is-hidden">
      <div class="contacts-modal">
        <ul class="contacts-modal__list">
          <li class="contacts-modal__item">
            <p class="contacts-modal__text">Chicago</p>
            <iframe
              class="contacts-modal__map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23788.261291415187!2d-87.63131924531474!3d41.81682695283809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2fe84f33122d%3A0x2420e2eab2a9a46!2sShawn%20Michelle&#39;s%20Homemade%20Ice%20Cream%20Bronzeville!5e0!3m2!1sru!2sua!4v1658671612398!5m2!1sru!2sua"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </li>
          <li>
            <p class="contacts-modal__text">Los Angeles</p>
            <iframe
              class="contacts-modal__map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d73778.32212948105!2d-117.9307455744173!3d33.99258362044773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c32a7ad4b985b9%3A0x91d49d1d36ee4ba7!2sBoomers%20Los%20Angeles!5e0!3m2!1sru!2sua!4v1658691140829!5m2!1sru!2sua"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </li>
          <li>
            <p class="contacts-modal__text">New York</p>
            <iframe
              class="contacts-modal__map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91531.04186820328!2d-74.32607203828441!3d40.57626612138217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b5750d579b57%3A0x2877ecc145a8ec72!2sUrban%20Air%20Trampoline%20and%20Adventure%20Park!5e0!3m2!1sru!2sua!4v1658691230821!5m2!1sru!2sua"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </li>
        </ul>
        <button class="contacts-modal-but js-modal-close" type="button" aria-label="close-modal-contacts">
          <svg class="modal-but-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-close-burger"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="contacts-franchise-backdrop is-hidden">
      <div class="contacts-franchise-modal">
        <div class="contacts-franchise-modal-box">
          <p class="contacts-franchise-modal__text">Franchise</p>
          <ul class="contacts-franchise-modal-list">
            <li class="contacts-franchise-modal-item">
              <p class="contacts-franchise-modal-number">1</p>
              <p class="contacts-franchise-modal-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                placeat sit optio vero? Perspiciatis optio magnam dolorem error?
                Fugit beatae repellat at, odio adipisci quisquam dicta
                provident? Nostrum, ex earum?
              </p>
            </li>
            <li class="contacts-franchise-modal-item">
              <p class="contacts-franchise-modal-number">2</p>
              <p class="contacts-franchise-modal-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                placeat sit optio vero? Perspiciatis optio magnam dolorem error?
                Fugit beatae repellat at, odio adipisci quisquam dicta
                provident? Nostrum, ex earum?
              </p>
            </li>
            <li class="contacts-franchise-modal-item">
              <p class="contacts-franchise-modal-number">3</p>
              <p class="contacts-franchise-modal-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                placeat sit optio vero? Perspiciatis optio magnam dolorem error?
                Fugit beatae repellat at, odio adipisci quisquam dicta
                provident? Nostrum, ex earum?
              </p>
            </li>
          </ul>
        </div>

        <form class="contacts-franchise-form">
          <input
            id="franchise-tel"
            name="franchise-tel"
            class="contacts-franchise-input"
            type="tel"
            placeholder="Enter phone"
          />
          <button class="contacts__btn-form" type="button" aria-label="open-franchise">
            Buy franchise
          </button>
        </form>

        <button
          class="contacts-modal-franchise-but js-modal-close-f"
          type="button"
          aria-label="close-franchise"
        >
          <svg class="modal-but-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-close-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
