<section class="section site-gallery__section">
  <div class="container site-gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic1-44x44.webp    44w,
              ./images/gallery-img/pic1-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic1-105x105.webp    105w,
              ./images/gallery-img/pic1-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic1-138x138.webp    138w,
              ./images/gallery-img/pic1-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic1-44x44.jpg    44w,
              ./images/gallery-img/pic1-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic1-105x105.jpg    105w,
              ./images/gallery-img/pic1-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic1-138x138.jpg    138w,
              ./images/gallery-img/pic1-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic1-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic2-44x44.webp    44w,
              ./images/gallery-img/pic2-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic2-105x105.webp    105w,
              ./images/gallery-img/pic2-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic2-138x138.webp    138w,
              ./images/gallery-img/pic2-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic2-44x44.jpg    44w,
              ./images/gallery-img/pic2-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic2-105x105.jpg    105w,
              ./images/gallery-img/pic2-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic2-138x138.jpg    138w,
              ./images/gallery-img/pic2-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic2-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic3-44x44.webp    44w,
              ./images/gallery-img/pic3-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic3-105x105.webp    105w,
              ./images/gallery-img/pic3-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic3-138x138.webp    138w,
              ./images/gallery-img/pic3-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic3-44x44.jpg    44w,
              ./images/gallery-img/pic3-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic3-105x105.jpg    105w,
              ./images/gallery-img/pic3-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic3-138x138.jpg    138w,
              ./images/gallery-img/pic3-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic3-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item gallery__item--big">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic4-90x90.webp     90w,
              ./images/gallery-img/pic4-90x90@2x.webp 180w
            "
            media="(max-width: 767px)"
            sizes="90px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic4-214x214.webp    214w,
              ./images/gallery-img/pic4-214x214@2x.webp 418w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="214px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic4-283x283.webp    283w,
              ./images/gallery-img/pic4-283x283@2x.webp 566w
            "
            media="(min-width: 1200px)"
            sizes="283px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic4-90x90.jpg     90w,
              ./images/gallery-img/pic4-90x90@2x.jpg 180w
            "
            media="(max-width: 767px)"
            sizes="90px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic4-214x214.jpg    214w,
              ./images/gallery-img/pic4-214x214@2x.jpg 418w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="214px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic4-283x283.jpg    283w,
              ./images/gallery-img/pic4-283x283@2x.jpg 566w
            "
            media="(min-width: 1200px)"
            sizes="283px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic4-283x283.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic5-44x44.webp    44w,
              ./images/gallery-img/pic5-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic5-105x105.webp    105w,
              ./images/gallery-img/pic5-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic5-138x138.webp    138w,
              ./images/gallery-img/pic5-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic5-44x44.jpg    44w,
              ./images/gallery-img/pic5-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic5-105x105.jpg    105w,
              ./images/gallery-img/pic5-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic5-138x138.jpg    138w,
              ./images/gallery-img/pic5-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic5-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic6-44x44.webp    44w,
              ./images/gallery-img/pic6-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic6-105x105.webp    105w,
              ./images/gallery-img/pic6-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic6-138x138.webp    138w,
              ./images/gallery-img/pic6-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic6-44x44.jpg    44w,
              ./images/gallery-img/pic6-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic6-105x105.jpg    105w,
              ./images/gallery-img/pic6-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic6-138x138.jpg    138w,
              ./images/gallery-img/pic6-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic6-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic7-44x44.webp    44w,
              ./images/gallery-img/pic7-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic7-105x105.webp    105w,
              ./images/gallery-img/pic7-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic7-138x138.webp    138w,
              ./images/gallery-img/pic7-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic7-44x44.jpg    44w,
              ./images/gallery-img/pic7-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic7-105x105.jpg    105w,
              ./images/gallery-img/pic7-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic7-138x138.jpg    138w,
              ./images/gallery-img/pic7-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic7-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic8-44x44.webp    44w,
              ./images/gallery-img/pic8-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic8-105x105.webp    105w,
              ./images/gallery-img/pic8-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic8-138x138.webp    138w,
              ./images/gallery-img/pic8-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic8-44x44.jpg    44w,
              ./images/gallery-img/pic8-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic8-105x105.jpg    105w,
              ./images/gallery-img/pic8-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic8-138x138.jpg    138w,
              ./images/gallery-img/pic8-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic8-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic9-44x44.webp    44w,
              ./images/gallery-img/pic9-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic9-105x105.webp    105w,
              ./images/gallery-img/pic9-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic9-138x138.webp    138w,
              ./images/gallery-img/pic9-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic9-44x44.jpg    44w,
              ./images/gallery-img/pic9-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic9-105x105.jpg    105w,
              ./images/gallery-img/pic9-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic9-138x138.jpg    138w,
              ./images/gallery-img/pic9-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic9-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-img/pic10-44x44.webp    44w,
              ./images/gallery-img/pic10-44x44@2x.webp 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic10-105x105.webp    105w,
              ./images/gallery-img/pic10-105x105@2x.webp 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic10-138x138.webp    138w,
              ./images/gallery-img/pic10-138x138@2x.webp 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-img/pic10-44x44.jpg    44w,
              ./images/gallery-img/pic10-44x44@2x.jpg 88w
            "
            media="(max-width: 767px)"
            sizes="44px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic10-105x105.jpg    105w,
              ./images/gallery-img/pic10-105x105@2x.jpg 210w
            "
            media="(min-width: 768px) and (max-width: 1199px)"
            sizes="105px"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/gallery-img/pic10-138x138.jpg    138w,
              ./images/gallery-img/pic10-138x138@2x.jpg 276w
            "
            media="(min-width: 1200px)"
            sizes="138px"
            type="image/jpeg"
          />
          <img
            src="./images/gallery-img/pic10-138x138.jpg"
            alt="ice lolly"
            class="gallery__img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
