<!-- футер -->
<footer class="footer">
  <div class="container">
    <div class="footer__block-one">
      <a href="./index.html" class="footer__logo-first">homemade ice cream made <span class="footer__logo-second">with
          passion</span></a>
    </div>
    <div class="footer__block-two">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="https://github.com/" target="_blank" rel="noopener noreferrer" class="footer__social-link">
            <svg class="footer__social-icon" width="34" height="34">
              <use href="./images/footer/social-links-sprite.svg#icon-github-icon"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://web.telegram.org/" target="_blank" rel="noopener noreferrer" class="footer__social-link">
            <svg class="footer__social-icon" width="34" height="34">
              <use href="./images/footer/social-links-sprite.svg#icon-telegram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="footer__social-link">
            <svg class="footer__social-icon" width="34" height="34">
              <use href="./images/footer/social-links-sprite.svg#icon-facebook-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__phone-text">Feel free to contact<a href="tel:+610383766284" class="footer__phone-number">+61 (0)
          383
          766 284</a></p>
    </div>
    <p class="footer__copyright">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>