<!-- футер -->
<div class="footer-box">
  <div class="container">
    <div class="footer-box__blocks">
      <div class="footer-box__block-one">
        <a href="#header" class="footer-box__logo-first"
          >homemade ice cream made<br /><span class="footer-box__logo-second"
            >with passion</span
          ></a
        >
      </div>
      <div class="footer-box__block-two">
        <ul class="footer-box__social-list">
          <li class="footer-box__social-item">
            <a
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="link to github"
              class="footer-box__social-link"
            >
              <svg class="footer-box__social-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer-box__social-item">
            <a
              href="https://web.telegram.org/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="link to telegram"
              class="footer-box__social-link"
            >
              <svg class="footer-box__social-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-box__social-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="link to facebook"
              class="footer-box__social-link"
            >
              <svg class="footer-box__social-icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-box__phone-text">
          Feel free to contact&nbsp;<a
            href="tel:+610383766284"
            class="footer-box__phone-number"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <div class="footer-box__copyright-box">
      <p class="footer-box__copyright abcolute">
        © 2022 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>
  <div class="footer-box__line-over"></div>
</div>
<button class="myBtn" onclick="topFunction()" id="myBtn" title="Go to top">
  <svg class="up-doun-icon" width="32" height="32">
    <use href="./images/sprite.svg#icon-arrow-up2"></use>
  </svg>
</button>
