<section class="hero-section">
<div class="container hero">
    <h1 class="hero__title">
      <span class="hero__span">ice cream made with</span> passion
    </h1>
    <ul class="hero__list">
      <li class="hero__item">
        <a href="">
        <button type="button" class="hero__btn">Products</button></a>
      </li>
      <li class="hero__item">
        <a href="">
        <button type="button" class="hero__btn hero-btn-second">How it’s made?</button></a>
      </li>
    </ul>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <div class="heroo">
      <ul class="heroo__list">
      <li class="heroo__item"><p class="heroo__number">16</p></li>
      <li class="heroo__item"><p class="heroo__text">cafes</p></li>
    </ul>
    <ul class="heroo__list">
      <li class="heroo__item"><p class="heroo__number">23</p></li>
      <li class="heroo__item"><p class="heroo__text">trucks</p></li>
    </ul>

    </div>
  </section>
</div>
