<div class="header" id="header">
  <div class="container">
    <a class="logo" id="logo" href="index.html">
      <picture>
        <source
          srcset="
            ./images/header/logo-min.png    1x,
            ./images/header/logo@2x-min.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/header/logo-min.png"
          loading="lazy"
          alt="Логотип компании"
        />
      </picture>
    </a>
    <button class="menu-open-btn" type="button" name="open-menu">
      <svg class="menu-open-btn__icon" width="20" height="12">
        <use href="./images/sprite.svg#icon-open-burger"></use>
      </svg>
    </button>

    <!-- Мобильное меню -->
    <div class="mob-nav is-hidden">
      <button class="close-open-btn" type="button" name="close-menu">
        <svg class="menu-open-btn__icon" width="14" height="14">
          <use href="./images/sprite.svg#icon-close-burger"></use>
        </svg>
      </button>
      <div class="mob-nav__container">
        <button class="modal-btn modal-btn--width" type="button" name="buy-now">
          Buy now
          <svg class="modal-btn__icon" width="6" height="10">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <ul class="mob-nav_list">
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#header">Home</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#advantages">About us</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#howmade">How it’s made?</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#products">Our products</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Главное меню -->
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link main-nav__link--current" href="#header"
            >Home</a
          >
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#advantages">About us</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#howmade">How it’s made?</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#products">Our products</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      class="modal-btn modal-btn--desktop js-open-buynow"
      type="button"
      name="buy-now-open"
    >
      Buy now
      <svg class="modal-btn__icon" width="6" height="10">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</div>
