<section class="about" id="howmade">
    <div class="container">
        <p class="about-pre__title">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about-box">
            <div class="about__cow-milk">
                <picture>
                    <source srcset="./images/about/about-milk-and-cow-mobile-min.png 1x,
                                    ./images/about/about-milk-and-cow-mobile@2x-min.png 2x" width="280"
                        media="(max-width: 767px)">
                    <source srcset="./images/about/about-milk-and-cow-tablet-min.png 1x,
                                    ./images/about/about-milk-and-cow-tablet@2x-min.png 2x" width="336"
                        media="(max-width: 1199px)">
                    <source srcset="./images/about/about-milk-and-cow-desktop-min.png 1x,
                                    ./images/about/about-milk-and-cow-desktop@2x-min.png 2x" width="501"
                        media="(min-width: 1200px)">
                    <img src="./images/about/about-milk-and-cow-desktop-min.png" width="501" alt="Cow and jug of milk">
                </picture>
            </div>
            <div class="about-text">
                <p class="about-text__desk">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
                    Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about-text__lead">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio
                    elementum. Mauris rhoncusorci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
                    maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="about-text__tagline">
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="about-btn js-open-modal">Read more</button>
                <div class="about__backdrop is-hidden contacts-backdrop">
                    <div class="about__modal">
                        <button class="about__button js-modal-close" type="button">
                            <svg class="close-black-svg" width="18" height="18">
                                <use href="./images/sprite.svg#icon-close-burger"></use>
                            </svg>
                        </button>
                        <p class="modal__title">amamus vitam amamus lac!</p>
                        <p class="modal__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                            elementum. Mauris rhoncusorci in imperdiet placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat.
                            Curabitur lacinia enim at ex blandit, vel pellentesque odio
                            elementum. Mauris rhoncusorci in imperdiet placerat.
                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
                            maximus. Cras massa nibh, tincidunt. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>