<section class="hero-section section">
  <div class="container hero">
    <h1 class="hero__title">
      <span class="hero__span">ice cream made with</span> passion
    </h1>
    <ul class="hero__list">
      <li class="hero__item">
        <a href="#products" class="hero__link">Products</a>
      </li>
      <li class="hero__item">
        <a href="#howmade" class="hero__link link-second">How it's made?</a>
      </li>
    </ul>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <button class="hero-text-btn">
      <svg class="hero-text-svg" width="16" height="16">
        <use
          href="./images/products/product-arrow-right.svg#icon-arrow-right2"
        ></use>
      </svg>
    </button>
    <div class="heroo">
      <ul class="heroo-list">
        <li class="heroo-item">
          <p class="heroo-number">16</p>
        </li>
        <li class="heroo-item">
          <p class="heroo-text">cafes</p>
        </li>
      </ul>
      <ul class="heroo-list">
        <li class="heroo-item">
          <p class="heroo-number">23</p>
        </li>
        <li class="heroo-item">
          <p class="heroo-text">food trucks</p>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/hero-ice-cream-desktop-min.png    1x,
          ./images/hero/hero-ice-cream-desktop@2x-min.png 2x
        "
        media="(min-width: 1200px)"
        class="hero-img-ice"
      />
      <source
        srcset="
          ./images/hero/hero-ice-cream-tablet-min.png    1x,
          ./images/hero/hero-ice-cream-tablet@2x-min.png 2x
        "
        media="(min-width: 772px)"
        class="hero-img-ice"
      />
      <source
        srcset="
          ./images/hero/hero-ice-cream-mobile-min.png    1x,
          ./images/hero/hero-ice-cream-mobile@2x-min.png 2x
        "
        media="(min-width: 320px)"
        class="hero-img-ice"
      />
      <img
        src="./images/hero/hero-ice-cream-mobile-min.png"
        alt="ice-cream"
        class="hero-img-ice"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/pink-circle-desktop-min.png    1x,
          ./images/hero/pink-circle-desktop@2x-min.png 2x
        "
        media="(min-width: 1200px)"
        class="hero-img-circle"
      />
      <source
        srcset="
          ./images/hero/pink-circle-tablet-min.png    1x,
          ./images/hero/pink-circle-tablet@2x-min.png 2x
        "
        media="(min-width: 772px)"
        class="hero-img-circle"
      />
      <source
        srcset="
          ./images/hero/pink-circle-mobile-min.png    1x,
          ./images/hero/pink-circle-mobile@2x-min.png 2x
        "
        media="(min-width: 320px)"
        class="hero-img-circle"
      />
      <img
        src="./images/hero/pink-circle-mobile-min.png"
        alt="pink-circle"
        class="hero-img-circle"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/white-circle-desktop-min.png    1x,
          ./images/hero/white-circle-desktop@2x-min.png 2x
        "
        media="(min-width: 1200px)"
        class="hero-white-circle"
      />
      <source
        srcset="
          ./images/hero/white-circle-tablet-min.png    1x,
          ./images/hero/white-circle-tablet@2x-min.png 2x
        "
        media="(min-width: 772px)"
        class="hero-white-circle"
      />
      <img
        src="./images/hero/white-circle-tablet-min.png"
        alt="white-circle"
        class="hero-white-circle"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/white-circle-desktop-min.png    1x,
          ./images/hero/white-circle-desktop@2x-min.png 2x
        "
        media="(min-width: 1200px)"
        class="hero-white-circle-second"
      />
      <source
        srcset="
          ./images/hero/white-circle-tablet-min.png    1x,
          ./images/hero/white-circle-tablet@2x-min.png 2x
        "
        media="(min-width: 772px)"
        class="hero-white-circle-second"
      />
      <img
        src="./images/hero/white-circle-tablet-min.png"
        alt="white-circle"
        class="hero-white-circle-second"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/bioeco-milk-desktop-min.png    1x,
          ./images/hero/bioeco-milk-desktop@2x-min.png 2x
        "
        media="(min-width: 1200px)"
        class="hero-img-bioeco"
      />
      <source
        srcset="
          ./images/hero/bioeco-milk-tablet-min.png    1x,
          ./images/hero/bioeco-milk-tablet@2x-min.png 2x
        "
        media="(min-width: 772px)"
        class="hero-img-bioeco"
      />
      <img
        src="./images/hero/bioeco-milk-tablet-min.png"
        alt="bioeco-milk"
        class="hero-img-bioeco"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/so-tasty-desktop-min.png    1x,
          ./images/hero/so-tasty-desktop@2x-min.png 2x
        "
        media="(min-width: 1200px)"
        class="hero-img-girl"
      />
      <source
        srcset="
          ./images/hero/so-tasty-tablet-min.png    1x,
          ./images/hero/so-tasty-tablet@2x-min.png 2x
        "
        media="(min-width: 772px)"
        class="hero-img-girl"
      />
      <img
        src="./images/hero/so-tasty-tablet-min.png"
        alt="girl"
        class="hero-img-girl"
      />
    </picture>
  </div>
</section>
