<section class="section site-gallery__section">
  <div class="container site-gallery__container">
    <ul class="gallery">
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic1-44x44.webp"
          alt="ice lolly"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic2-44x44.webp"
          alt="ice cream cone"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic3-44x44.webp"
          alt="ice lolly"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item gallery__item--big">
        <img
          src="./images/gallery-img/pic4-90x90.webp"
          alt="ice cream cone"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic5-44x44.webp"
          alt="ice cream girl"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic6-44x44.webp"
          alt="ice cream with berries"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic7-44x44.webp"
          alt="ice cream cone"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic8-44x44.webp"
          alt="dog with ice cream"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic9-44x44.webp"
          alt="milk shake"
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/gallery-img/pic10-44x44.webp"
          alt="cake"
          class="gallery__img"
        />
      </li>
    </ul>
  </div>
</section>
